.sabores-pizza {
  display: flex;
  flex-direction: column;
  gap: 100px;

  overflow-y: auto;
  height: 70vh;

  background-image: url('./img/bg.jpg');
}

.sabor {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-around;

}

.textos-sabores {
  cursor: pointer;
}

.textos-sabores:hover {
  color: red;
}


.flow a {
  margin: 0 20px;

  text-align: center;
}

.escolha-sabor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  
}

.valor {
  font-size: 40px;
  color: rgb(23, 175, 13);
}

select {
  border-radius: 8px;
  background: none;
  padding: 10px;

  outline: none;
}

a:hover{
  color: red;
}