
.bg-red {
  background-image: url('./img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

}

.button {
  background-color:  #EC0000;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  width: auto;
  padding-inline: 30px;
  height: 40px;
  border: none;
  text-transform: uppercase;
}

.nav-item a {
  margin: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;

}

.banner img {
  margin-top: 50px; 
}



.text-wrapper h1 {
  font-size: 80px;
  margin-bottom: 10px;
}

.text-wrapper h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.text-wrapper button {
  font-size: 25px;
  height: auto;
  width: auto;
}


.link-atual {
  color: #EC0000 !important;
}

.local {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.local img {
  border-radius: 20px;
  width: 800px;
  height: auto;

  object-fit: cover;
}

